\Final_CIT.004\Austria_Final\.vs
*.db
*.db-shm
*.opendb
*.db-wal
*.vcxproj
*.filters
*.user
Austria_Final/.vs/Austria_Final/v16/.suo
*.recipe
*.ilk
*.log
*.obj
*.pdb
*.lastbuildstate
*.tlog
*.idb
*.exe
