
Austria_Final/.vs/Austria_Final/v16/Browse.VC.opendb
Austria_Final/.vs/Austria_Final/v16/Browse.VC.db
Austria_Final/.vs/Austria_Final/v16/Browse.VC.db-shm
Austria_Final/.vs/Austria_Final/v16/Browse.VC.db-wal
Austria_Final/.vs/Austria_Final/v16/Browse.VC.db
*.pdb
*.exe
Austria_Final/.vs/Austria_Final/v16/.suo
*.tlog
*.idb
*.pdb
*.exe
*.pdb
*.obj
*.ilk
*.db
Austria_Final/.vs/Austria_Final/v16/.suo
*.db
*.ilk
*.obj
*.idb
*.pdb
*.exe
*.pdb
*.db
*.db
